@page
@model SampleApp.Pages.Doctors.IndexModel

@{
    ViewData["Title"] = "Doctors";
}

<div class="title">
    <h1>Doctors</h1>
</div>

<!--
<p>
    <a asp-page="Create">Create New</a>
</p>
-->
<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].LastName)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Doctors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    -->

@foreach (var item in Model.Doctors)
{
    <div class="card border-primary mb-3">
        <div class="card-heading">
            <h3 class="card-title">@item.FullName</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xs-4 col-md-3 hidden-lg">@Html.DisplayNameFor(model => model.Doctors[0].Specialty)</div>
                <div class="col-xs-8 col-md-9 hidden-xs">@item.Specialty</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-md-3">@Html.DisplayNameFor(model => model.Doctors[0].PhoneNumber)</div>
                <div class="col-xs-8 col-md-9">@item.PhoneNumber</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-md-3">@Html.DisplayNameFor(model => model.Doctors[0].IsAcceptingNewPatients)</div>
                <div class="col-xs-8 col-md-9">@item.IsAcceptingNewPatients</div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-md btn-primary" disabled>Schedule an Appointment</button>
                    <button type="button" class="btn btn-md btn-primary" disabled>Send a Message</button>
                </div>
            </div>
        </div>
    </div>
}
